/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* Reset y configuración básica */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 250, 242);
  }

/* Estilos de Header */

.header{
    background-color: rgb(145, 142, 135);
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    .logo{
        width: 100px;
    }
    nav{
   position: absolute;
    left: 60%;
    top: 50%; 

    ul{
      list-style: none;  
    }

    li{
        display: inline-block;
        margin-right: 30px;
    }
    a{
        list-style: none;
        text-decoration: none;
    }
}
}








/* Estilos de Main */

.imagenFondoPrincipal {
    padding-top: 10px;
    padding-bottom: 50px;
    background-image: url("../assets/img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    height: 100vh;

    .contenedorTextoPrincipalIndex{
        margin:0 auto;
        margin-top: 30px;
        /*border:2px solid  #510d1b;*/
        padding:10px;
        border-radius: 5px;
        text-align: center;
        width: 50%;
        font-size: 10px;
        color: rgb(28, 27, 27);
        p {
            font-family: 'Roboto', sans-serif; /* Fuente legible y moderna */
            font-size: 18px; /* Tamaño ideal para la legibilidad */
            color: #333; /* Color oscuro para buen contraste */
            
        }
        a{
            display:inline-block;
            margin-top:30px;
            text-decoration: none;
            color: #333;
            font-size: 20px;
            border:2px solid black;
            padding:8px;
            border-radius:5px;
            /*box-shadow: -10px 0px 35px 12px rgba(0,0,0,0.66);*/

        }
    }
   
}

.contenedorProductos {
    background: linear-gradient(180deg, #6fd677 0%, #6fd677 0%); /* Degradado suave */
    ;
    
}

.galeria{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:60px;
    div{
        text-align: center;
        background-color:#474a92;
        border:1px solid gray;
        color:black;
        width: 160px;
        height:160px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        img{
            /*box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 198);*/
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 80%;
            height: 80%;
            object-fit: cover;
        }
    }
}


.centradoMain{
    text-align: center;
}

.logoMain{
    width: 110px;
    margin-bottom: 10px;
}

/* Títulos y textos de Main */
.colorMainH1 {
    font-family: 'Playfair Display', serif; /* Fuente elegante */
    font-size: 56px; /* Tamaño grande para destacar */
    color: #992812; /* Color destacado */
    text-align: center;
    padding-top: 40px;
}

.colorMainH2 {
    font-family: 'Montserrat', sans-serif;
    color: #072b05; /* Verde oscuro */
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.colorMainH3 {
    font-family: 'Roboto', sans-serif; /* Fuente legible */
    font-size: 20px; /* Tamaño más pequeño para subtítulos */
    color: #83a80b; /* Color rojo oscuro */
    
}

.colorMainP{
    font-family: 'Montserrat', sans-serif; /* Fuente para párrafos en Footer */
    font-size: 20px; /* Tamaño de párrafos en Footer */
    color: #642929; /* Color específico para texto en Footer */
    text-align: center;
}


/*NOSOTROS INDEX*/
.nosotros {
    h1{
        text-align: center;
        padding-top: 20px;
        font-size: 60px;
    }
    .contenedorNosotros {
        margin: 0 auto;
        align-items: center;
        display: grid;
        grid-template-columns: 0.5fr,0.5f,1fr;
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas: 
                            "nuestraHistoria nosotrosImagen"
                            "mision nosotrosImagen"
                            "vision nosotrosImagen";
        margin-top: 20px;
        padding-top: 100px;
        .nosotrosImagen {
            grid-area: nosotrosImagen;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                width: 80%;
                height: 80%;
                
            }
        }

        .nuestraHistoria {
            grid-area: nuestraHistoria;
            
            
        }

        .mision {
            grid-area: mision;
            
        }

        .vision {
            grid-area: vision;
           
        }
    }
}






/*FIN DEL ESTILOS DE INDEX*/


/*GALERIA DE PAGINA DE PRODUCTOS*/

.galeriaGridRepuestos{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 1fr;
    grid-template-areas: "motor embrague"
                         "distribucion freno"
                         "suspension refrigeracion";
    gap: 25px;
        .hijo_1{
            grid-area:motor;
            width: 100%;
            height: 100%;
            object-fit: cover;
           }
           .hijo_2{
            grid-area:embrague;
            width: 100%;
            height: 100%;
            object-fit: cover;
           }
           .hijo_3{
            grid-area: distribucion;
            width: 100%;
            height: 100%;
            object-fit: cover;
           }
           .hijo_4{
            grid-area: freno;
            width: 100%;
            height: 100%;
            object-fit: cover;
           }
           
}










/* Estilos de Footer */

/* Estilos Generales para el Footer */
.footer {
    background-color: rgb(4, 4, 5);
    color: rgb(19, 100, 171);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}
.footer section {
    margin: 2% auto;
    width: calc((100% - 20px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerLink{
    color: rgb(33, 51, 188);
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    align-items: center;    
}

/* Colores y fuentes específicos */
.colorFooter {
    background-color: rgba(1, 36, 3, 0.477);
   
}

.colorFooterH1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: #167e11;
}

.colorFooterH2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #591c0f;
}

.colorFooterH3 {
    font-size: 20px;
    color: #b7371a;
}

.colorFooterP {
    text-align: left;
    font-size: 20px;
    color: #642929;
    width: 100%;
    margin-top: 20px;
}

/* Iconos de redes sociales */
.footer-redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}


.fa-facebook {
    font-size: 30px;
    color: blue;
    
}

.fa-instagram {
    font-size: 30px;
    color: violet;
    
}

.fa-whatsapp {
    color: #045522;
    font-size: 50px;
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 999;
}

/* Flecha para ir arriba */
.flechaFooter {
    font-size: 50px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: #25D366;
    z-index: 999;
}




